#header
{
 height:100px;
 background-color:gray;	
}
#middle
{
 height:500px;
 background-color:black;	
}

.part1
{
	float:left;
	width:49%;
	height:100%;
	border:1px solid red;
}
.part2
{
	float:right;
	width:50%;
	height:100%;
	border:1px solid red;
}
#footer
{
 height:200px;
 background-color:gray;	
}